* {
    margin: 0;
    padding: 0;
  }
  body {
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
  .inFormBackground {
    margin: 0rem 2rem;
  }
  .inFormBackground,
  .inLoginForm {
    width: 25rem;
    height: 30rem;
    max-width: 320px;
    position: relative;
  }
  .circle {
    width: 10rem;
    height: 10rem;
    position: absolute;
    border-radius: 50%;
  }
  .circle:first-child {
    left: -20%;
    top: -12%;
    background: linear-gradient(#ff0060, #c302b5);
  }
  .circle:nth-child(2) {
    right: -22%;
    bottom: -14%;
    background: linear-gradient(164deg, #144e7cfc, #1877f2);
  }
  .inLoginForm form {
    top: 50%;
    left: 50%;
    width: 16rem;
    height: 24rem;
    max-width: 320px;
    position: absolute;
    padding: 50px 35px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border: 2px solid rgba(35, 35, 35, 0.9);
    background-color: rgba(255, 255, 255, 0.5);
  }
  form * {
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
  }
  .title {
    font-size: 32px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
  }
  .inputGroup label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
  }
  .inputGroup input {
    width: 92%;
    height: 50px;
    display: block;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.11);
    border: 2px solid #d22b6b;
    color:rgb(49, 47, 47);
  }
  ::placeholder {
    /* color: #e5e5e5; */
    /* color: #ff0060; */
    font-weight: bold;
  }
  .submitForm {
    width: 100%;
    z-index: 1;
    margin-top: 20px;
    color: #fff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    background: #202020;
  }
  .submitForm::before {
    content: "";
    top: 0%;
    left: -100%;
    z-index: -1;
    width: 100%;
    height: 100%;
    color: #202020;
    border-radius: 5px;
    position: absolute;
    transition: left 0.4s, color 0.4s;
    background-color: #fff;
  }
  .submitForm:hover {
    color: #202020;
  }
  .submitForm:hover::before {
    left: 0%;
  }
  .social {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }
  .social div {
    width: 3rem;
    height: 3rem;
    display: flex;
    cursor: pointer;
    color: #eaf0fb;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.27);
  }
  .social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
  }
  .social .fb {
    margin-left: 25px;
  }
  .social .tw {
    margin-left: 25px;
  }
  body{
  background-image: url("https://www.nbkrist.co.in/images/csebuilding.JPG");
  background-repeat: no-repeat;
  /* background-size: 1440px 800px; */
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
  height: 100vh;
  width: auto;
  }

  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://www.nbkrist.co.in/images/csebuilding.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(2px); /* Adjust the blur amount as needed */
    z-index: -1;
  }
  
  .forgot-button{
    margin-top: 2rem;
    margin-left: 0.2rem;
    background-color: #202020;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 6px;
  }
  .forgot-button:hover{
    color: #ff0060;
  }
  
  .signup-button{
    margin-left: 0.5rem;
    background-color: #202020;
    color: #fff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .signup-button:hover{
    color:#ff0060;
  }
  
  .show-password{
    background-color: rgba(255, 255, 255, 0);
    font-size: 12px;
    margin-left: 8rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  
  .show-password:hover{
    color:#ff0060;
  }